@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ========= Initial CSS  ============ */
h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1e154f;
}

h3 {
  font-size: 37px;
  font-weight: bold;
  color: #1e154f;
}

h4 {
  font-weight: bold;
  font-size: 21px;
  color: #1e154f;
}

h5 {
  font-size: 19px;
  font-weight: bold;
  color: #1e154f;
}

p {
  font-weight: normal;
  font-size: 13px;
  color: #3f4344;
  line-height: 15px;
}

.main-button {
  background-color: #3655d5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #3655d5;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.main-button:hover {
  background-color: white;
  color: #3655d5;
}

.main-button-register {
  background-color: 0e90E4;
  color: #3655d5;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #3655d5;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.main-button-register:hover {
  background-color: #3655d5;
  border: 1px solid #3655d5;
  color: white;
}

.wrapper-top {
  padding-top: 100px;
}

.wrapper-bottom {
  padding-bottom: 100px;
}

.quote i {
  font-size: 30px;
  color: #1e154f;
}

.scroll-on {
  background-color: white;
  padding: 14px;
  box-shadow: 0px 63px 75px -21px rgba(30, 21, 79, 0.05);
}

/* ===================== BANNER SECTION ====================== */
/* header */
#navbar {
  transition: 0.5s ease-in-out;
}
.navbar-nav li a {
  font-size: 16px;
  color: #1e154f !important;
  transition: 0.3s ease-in-out;
}

.navbar-nav li a:hover {
  color: #3655d5;
}

#banner {
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
}

/* Search Box */
#search {
  margin-top: -88px;
}
.search {
  background: #ffffff;
  box-shadow: 0px 63px 75px -21px rgba(30, 21, 79, 0.05);
}
.search_input {
  color: #3655d5;
  width: 100%;
  background: #fafcfe;
  border: 1px solid #3655d5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 11px;
}
.search_input input {
  background-color: none;
  border: none;
}
.search_input input:focus {
  outline: none;
}

.search_box button {
  background-color: #3655d5;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
}

.search_looking h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: #1e154f;
}

.search_looking_item {
  background: #f6fafd;
  border-radius: 5px;
  padding: 3px 7px;
  display: flex;
}

.search_looking_item span {
  font-size: 15px;
  color: #1e154f;
}
.search_looking_item i {
  padding: 6px 6px;
}

/* Services */
.service {
  background: #eff6fe;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-color: none;
}
.service:hover {
  background-color: #ffffff;
  border-color: #3655d5;
}
.service img {
  width: 100px;
  height: 100px;
}

/* Emergency Section */

.emergency_item .icon {
  padding: 20px;
  font-size: 15px;
  background: #3655d5;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* specilist items */

.specilist_items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.specilist_item {
  background: #f3f4f9;
  border-radius: 15px;
}

.specilist_item img {
  width: 100.83px;
  height: 98.53px;
}

.specilist_item h4 {
  font-size: 30px;
}

.specilist_item p {
  font-size: 15px;
  color: #1e154f;
  font-weight: bold;
  margin-top: 10px;
}

/* Feedback Section */
.feedback_doctor .doctor_img {
  width: 95px;
  height: 89px;
  background-color: #3655d5;
  border-radius: 4px;
}

/* Footer */
footer {
  background: #f3f4f9;
}

.footer_menu {
  list-style: none;
  padding: 0;
}

.footer_menu li a {
  font-weight: bold;
  text-decoration: none;
  color: #3655d5;
  font-size: 15px;
}

/* Resopnsive CSS */

/* Tablates */

@media (max-width: 991px) {
  .specilist_items {
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar-collapse {
    background: white;
    padding: 16px;
    margin-top: 18px;
  }
}

/* Mobiles */
@media (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  .navbar-collapse {
    background: white;
    padding: 16px;
  }
  .banner .wrapper-top {
    padding-top: 39px;
  }
  #search {
    margin-top: -23px;
  }
  .wrapper-bottom {
    padding-bottom: 15px;
  }
  .specilist_items {
    grid-template-columns: repeat(2, 1fr);
  }
  .emergency_item .icon {
    width: 97px;
    height: 44px;
  }
  .search_looking {
    display: none;
  }
}
