
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ========= Initial CSS  ============ */
h2 {
    font-size: 45px;
    font-weight: bold;
    color: #1e154f;
}
  
h3 {
    font-size: 37px;
    font-weight: bold;
    color: #1e154f;
}
  
h4 {
    font-weight: bold;
    font-size: 25px;
    color: #1e154f;
}
  
h5 {
    font-size: 18px;
    font-weight: bold;
    color: #1e154f;
}
  
p {
    font-weight: normal;
    font-size: 15px;
    color: #3f4344;
    line-height: 15px;
}

/* ========= Article Body  ============ */
.article-top {
    text-align: center;
}

#article-title {
    color: #296FDE;
}
#article-subtitle {
    line-height: 150%;
}

.card {
    margin: 8px;
}

.card-body {
    background-color: #f2f5f8;
    padding: 20px;
}

.card-title {
    line-height: 150%;
    color: #151515;
    font-weight: 600;
}

.card-text {
    line-height: 125%;
    font-size: 14px;
    color: #5f5f5f;
    font-weight: 400;
}

#card-goto-read {
    font-weight: 600;
    color: #3655D5;
    font-size: 15px;
}
