

.margin-top-initial {
    margin-top: 130px;
}

.not-active {
    color: red;
}

.border-carevul {
    /* color: #3655D5; */
    /* border: 1px solid #3655D5; */
    border-color: #3655D5 !important;
}