
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ========= Initial CSS  ============ */
h2 {
    font-size: 45px;
    font-weight: bold;
    color: #1e154f;
}
  
h3 {
    font-size: 37px;
    font-weight: bold;
    color: #1e154f;
}
  
h4 {
    font-weight: bold;
    font-size: 25px;
    color: #1e154f;
}
  
h5 {
    font-size: 18px;
    font-weight: bold;
    color: #1e154f;
}
  
p {
    font-weight: normal;
    font-size: 15px;
    color: #3f4344;
    line-height: 15px;
}

/* ========= Navbar  ============ */
.main-button {
  background: linear-gradient(96.14deg, #3f95ff -10.84%, #7c1add 164.3%);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #3655d5;
  border-radius: 11.25px;
  transition: 0.5s ease-in-out;
}

.main-button:hover {
  background: white;
  color: #3655d5;
}

.main-button-register {
  background-color: 0e90E4;
  color: #3655d5;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid #3655d5;
  border-radius: 11.25px;
  transition: 0.5s ease-in-out;
}

.main-button-register:hover {
  background: linear-gradient(96.14deg, #3f95ff -10.84%, #7c1add 164.3%);
  border: 1px solid #3655d5;
  color: white;
}

.scroll-on {
  background-color: white;
  padding: 14px;
  box-shadow: linear-gradient(96.14deg, #3f95ff -10.84%, #7c1add 164.3%);
}

/* ===================== BANNER SECTION ====================== */
/* header */
#navbar {
  transition: 0.5s ease-in-out;
}
.navbar-nav li a {
  border-radius: 11.25px;
  font-size: 16px;
  color: #1e154f;
  transition: 0.3s ease-in-out;
}

.navbar-nav li a:hover {
  background-color: #ffffff;
  border-radius: 11.25px;
  border: 1px solid #296fde;
}

#banner {
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
}

@media (max-width: 991px) {
  #navbar {
    text-align: center;
  }
  .navbar-collapse {
    background: white;
    padding: 16px;
    margin-top: 18px;
  }
  .navbar-nav li a {
    text-align: center;
    background-color: #ffffff;
    border-radius: 11.25px;
  }

  .navbar-nav li a:hover {
    text-align: center;
    background-color: #ffffff;
    border-radius: 11.25px;
    border: 1px solid #296fde;
  }
}

/* Mobiles */
@media (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  .navbar-nav li a {
    text-align: center;
    background-color: #ffffff;
    border-radius: 11.25px;
  }

  .navbar-nav li a:hover {
    color: #ffffff;
    text-align: center;
    background-color: #ffffff;
    border-radius: 11.25px;
    border: 1px solid #296fde;
  }
  .navbar-collapse {
    background: white;
    padding: 16px;
  }
  .banner .wrapper-top {
    padding-top: 39px;
  }
}

.navbar h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1e154f;
}

.navbar h3 {
  font-size: 37px;
  font-weight: bold;
  color: #1e154f;
}

.navbar h4 {
  font-weight: bold;
  font-size: 21px;
  color: #1e154f;
}

.navbar h5 {
  font-size: 19px;
  font-weight: bold;
  color: #1e154f;
}

.navbar p {
  font-weight: normal;
  font-size: 13px;
  color: #3f4344;
  line-height: 15px;
}

/* ========= Article Body  ============ */
.article-top {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
}

#article-title {
    color: #296FDE;
}
#article-subtitle {
    line-height: 150%;
}

#col-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 30px;
    margin-left: 20px;
}

.card img {
    height: 250px;
    object-fit: cover;
}

.card-body {
    background-color: #f2f5f8;
    padding: 20px;
}

.card-title {
    line-height: 150%;
    color: #151515;
    font-weight: 600;
}

.card-text {
    line-height: 125%;
    font-size: 14px;
    color: #5f5f5f;
    font-weight: 400;
}

#card-goto-read {
    font-weight: 600;
    color: #3655D5;
    font-size: 15px;
}

/* footer */
.text-carevul {
  color: #296fde;
}

.bg-color-footer {
  background-color: #f9fbfd;
}

.text-gray {
  color: #333333;
}

.social-media {
  font-size: 30px;
  color: #296fde;
  width: 60%;
}

.list-footer {
  list-style: none;
}

.list-footer a {
  text-decoration: none;
  font-weight: 600;
}

.text-light-gray {
  color: #5f6d7e;
}
/* Resopnsive CSS */

/* Tablates */
@media (max-width: 991px) {
  .social-media {
    font-size: 20px;
    color: #296fde;
    width: 60%;
  }
}

/* Mobiles */
@media (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  .social-media {
    font-size: 20px;
    color: #296fde;
    width: 60%;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: white;
    padding: 16px;
    margin-top: 18px;
  }
}

/* Mobiles */
@media (max-width: 767px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  .navbar-collapse {
    background: white;
    padding: 16px;
  }
}